<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{displayEventInfo.event_name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 355px; height: 200px">


<div class="row" >


 <div class="col col-50" ng-click = "gotourl('/tab/map')"  > <i class="icon ion-location" >
  <strong><u>LOCATION</u></strong></i><br>
  {{chat.Location}}
</div>


  <div class="bor col col-50"> <i class="icon ion-clock ">  <strong>DATES </strong></i>
  <br>
  {{chat.Date}}

</div>
</div>

<form novalidate="" name="newCommentForm" form-manager>
 <br>
 <br>  <div ng-show="newCommentForm.$invalid" class="error-container text-center">
   <p class="error form-error">{{errormsg}}</p>
 </div>    <div>      <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : newCommentForm.commentText.$invalid}">
       <textarea style="margin-top:10px;font-size:16px;"
                 rows="10"
                 name="commentText"
                 ng-model="comment.text"
                 placeholder="Type your comment here" required>
       </textarea>
     </label>    </div>
 </form>    <br>
   <br>
   <br>  <div class="bar bar-footer bar-calm" style="text-align:center;">
   <!-- <center> -->
     <button class="button button-full button-calm" style="font-size:16px;text-align:center;padding:0;margin:0;" ng-click="saveComment(newCommentForm)">Save</button>
   <!-- </center> -->
 </div>


  </ion-content>
</ion-view>
